* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

.codigo {
    display: flex;
    flex-direction: column;
    gap: 20px
    
}

.codigo li {
    color: rgb(255, 0, 0);
    font-size: clamp(15px, 40px, 40px);
    filter: color (20px);
    transition: 0.3s;
   
   

}
        /* Número em Foco */
        .codigo li:hover,
        .codigo li:active {
            list-style: "@";
            transform: scale(1.08);
        }

        /* Número da direita */
        .codigo li:hover+li {
            list-style: "*" ;
        }

        /* Segundo número da direita */
        .codigo li:hover+li+li {
            list-style: "#";
        }

        /*ATALHOS: SHIFT + ALT + A */
        /* CTRl + ; */
        /* Número da esquerda */
        .codigo li:has(+ li:hover) {
            list-style: "%";
        }

        /* Segundo Número da esquerda */
        .codigo li:has(+ li + li:hover) {
            list-style: "&";
        }



  



/* Desenvolva o restante do CSS. */

/* Lembre-se de criar uma media query para telas
   de até 768px quando a tarefa exigir responsividade. */